*{
    font-family: 'Tiro Devanagari Hindi', serif;
    font: size 20px;

}
body{
    background-image:url("https://i.blogs.es/c0c91b/sherlock-holmes/840_560.jpeg");
    background-repeat: no-repeat;   
    background-size: cover;
}

.highlight{
    background-color: yellow;
}
.error{
    background-color:lightcoral;
    border: #F00;
}
.contenedor{
    background-color:#fff ;
    opacity:0.7;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}
.contenedor__input{ 
    padding:15px;
    display:flex;
    flex-flow: column wrap;
    gap :20px;
}
#start{
    align-self: center;
}
